.img_style{

mask-image: linear-gradient(to bottom, rgba(0, 1, 0, 1), rgba(0, 0, 0, 0)); 

margin-bottom: -10px;
width: 100%;

}

.user_home{

    width: max-content;
}

.searchresults{

align-content: center;

}

.foodsection{

    padding-top: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
   

}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-style: inset;
    border-width: 1px;
}

.user_item{

display: flex;
flex-direction: row;

margin-left: 30px;
margin-right: 10px;

}


.location{

    display: flex;
    flex-direction: row;
    margin-top: 26px;
}
.searchplace{

margin-left: 400px;




}
    
   
    


#inputlocation{

margin-left: 20px;
font-family: cursive;
width: 400;

}

#font_name{
    font-size: 20px;
    font-family: cursive;
}

.gb{

    margin-right: auto;

    width: 200%;
    border: 2px solid #73AD21;
    border-image-width: 100%;
    padding: 10px;
    margin-top: 50px;
    
}

#img{

    height: 100%;
}

.allinone{

    margin: auto;
}

.footer{

    margin-top: 20px;
    width:100%;
    
}

.inline{

    display: inline-block;
}


.search_bar{

background-color: lightcoral;
width: auto;


}

.thumnail{

    height: 10%;
}