.appname {
  margin-top: 5px;
  margin: 10px;
  font-size: 30px;
}
.Craving_logo{

margin: 2px;

}

.mainappname {
  width: 100px;
  font-size: 20px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
}

.header__optionline1 {
  font-size: 13px;
  font-weight: 800;
}

.header__options {
  display: flex;
  
}

.header__optionsignup {
  font-size: 13px;
  font-weight: 800;
}
