.Search input[type="text"] {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  margin: 0 -5px 0;
  width: 200px;
  color: #333;
  font-style: italic;
  width: 250px;
  height: 23px;
}
.food{

font-size: 15px;
}

#food{

  font-size: 50px;
}

#word{

  font-size: 50px;

}

.btnandtext{

margin-top: 7px;

}

.fontarr{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.btn{

width: 60px;
margin-left: 17px ;



}
.Search input[type="submit"] {
  padding: 5px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  margin: 0;
  background: #ffffff;
  width: 100px;
  margin-left: 10px;
  height: 33px;
}

.Search input[type="submit"]:hover {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  margin: 0;
  background: #c00;
  color: #fff;
  
}

.Search {
  float: left;
  margin-top: 200px;
  margin-left: 30px;
  box-sizing: 100%;
}

.Search h1 {
  display: inline;
  color: black;
}
